{{! para pestaña PROYECTO del lado del ADMINISTRADOR }}
{{! para BLOQUEAR/DESBLOQUEAR y ELIMINAR el presente PROYECTO }}

{{! PARA BLOQUEAR O ELIMINAR EL PROYECTO }}

<div class="contenido container-fluid my-4">
    <div class="row">
        <div class="mb-3 col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>ELIMINAR PROYECTO</h5>
                </div>

                <div class="card-body">
                    <p> <b class="texto-resaltado">Claves Maestras</b></p>

                    <div class="form-group">
                        <label for="id_usuario_maestro">Usuario</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text texto-resaltado">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>

                            <input
                                type="text"
                                name="usuario_maestro"
                                id="id_usuario_maestro"
                                class="form-control"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_clave_maestro">Contraseña</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text texto-resaltado">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>

                            <input
                                type="password"
                                name="clave_maestro"
                                id="id_clave_maestro"
                                class="form-control"
                            />
                        </div>

                    </div>
                    <p>Seran eliminados todos los datos del PROYECTO (archivos, documentos),
                        incluido sus inmuebles y respectivos propietarios.</p>

                    <form
                        action="/laapirest/accesosistema"
                        id="id_ref_ventana_inicio"
                        method="GET"
                        hidden
                    >
                    </form>

                    <div class="card-footer text-center">
                        <button class="btn btn-primary" id="id_eliminar_proyecto">Eliminar</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>