{{! para la pestaña de ver los TEXTO EMPRESA en administrador maestro }}

<div class="contenido container-fluid">
    <div class="container-fluid">
        <div class="row mt-3">

            <div class="col-12 col-md-6">

                <div class="card my-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <h5 class="text-center">TEXTOS SEGUNDERO</h5>
                    </div>
                    <div class="card-body text-primary">
                        <form id="textos_segundero">
                            
                            <div class="form-group">
                                <label for="label_texto_segundero_prop_iz" class="form-label">Propietario Izquierdo</label>
                                <div>
                                    <textarea
                                        name="texto_segundero_prop_iz"
                                        class="form-control"
                                        id="label_texto_segundero_prop_iz"
                                        placeholder="<strong>/nom_propietario/</strong> el tiempo no se detiene y tus ganancias tampoco, tu inversión genera ganancias para ti segundo a sengundo."
                                        rows="5"
                                        title="Para saltos de línea use: <br> u otras etiquetas html"
                                    >{{contenido_administrador.texto_segundero_prop_iz}}</textarea>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <input
                                    type="submit"
                                    value="Guardar textos"
                                    class="ref_textos_segundero btn btn-primary"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>