{{! para pestaña ELIMINAR del PROPIETARIO del lado ADMINISTRADOR }}

<div class="contenido container-fluid my-3">

    <div class="card" style="max-width: 30rem;">
        <h5 class="card-header">
            ELIMINAR PROPIETARIO
        </h5>

        <div class="card-body">
            <p>La eliminación del presente propietario se lo hace desde la cuenta del inmueble.</p>
            <p><strong>Advertencia: </strong>La eliminación del propietario ocasiona que los
                PROYECTOS en los que invirtio disminuyan su valor de FINANCIAMIENTO.</p>
        </div>

    </div>

</div>