{{! para la pestaña de ver el listado de PERSONAL en administrador maestro }}

<div class="contenido container-fluidd container cuadro_estandart my-4">
    <h5 class="mt-4">Personal administrativo activo</h5>
    <button class="my-3 btn btn-primary" id="id_personal_activo">Ver personal</button>

    <div class="table-responsive ref_mensaje_tabla_activos">
        <table class="texto-link table table-bordered">
            <thead>
                <tr>
                    <th class="text-left texto-resaltado" id="c_0">#
                    </th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_1"
                        data-id="menor_mayor"
                    >C.I. <i class="fas fa-sort"></i></th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_2"
                        data-id="menor_mayor"
                    >Nombres
                        <i class="fas fa-sort"></i>
                    </th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_3"
                        data-id="menor_mayor"
                    >Apellidos
                        <i class="fas fa-sort"></i>
                    </th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_4"
                        data-id="menor_mayor"
                    >
                        Departamento
                        <i class="fas fa-sort"></i></th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_5"
                        data-id="menor_mayor"
                    >Provincia
                        <i class="fas fa-sort"></i>
                    </th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_6"
                        data-id="menor_mayor"
                    >Ciudad <i class="fas fa-sort"></i></th>
                    <th
                        class="text-left texto-resaltado orden_tabla_activos"
                        id="c_7"
                        data-id="menor_mayor"
                    >Fecha ingreso <i class="fas fa-sort"></i></th>
                </tr>
            </thead>

            <tbody class="ref_enlistar_adm_activos">

            </tbody>

        </table>

        {{! fin de table responsibe }}
    </div>
</div>