{{! para la pestaña de ver los textos de GENERICO EMPRESAS en administrador maestro }}

<div class="contenido container-fluid">
    <div class="container-fluid">
        <div class="row mt-3">

            <div class="col-12 col-md-6">
                <div class="card my-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <div class="text-center titulo_3">TEXTO PRINCIPAL</div>
                    </div>

                    <div class="card-body">

                        <p class="text-left"><strong>Nota: </strong>Es el texto que se verá acompañando a
                            la ventana de inicio lado Administrador y Cliente junto a los cuadros
                            descendentes.</p>
                        <p class="text-left">Recomendamos cambiar este texto dependiendo de los días o
                            eventos importantes que considere destacar.</p>

                        <form id="form_texto_principal_empresa">

                            <div class="form-group">
                                <label for="label_texto_principal_html" class="form-label">Texto principal</label>
                                <div>
                                    <textarea
                                        name="texto_principal_html"
                                        class="form-control"
                                        id="label_texto_principal_html"
                                        rows="5"
                                        placeholder="Edificando el futuro inmobiliario con entrega y eficiencia. Para saltos de línea use: <br>"
                                        title="Para saltos de línea use: <br>"
                                    >{{contenido_administrador.texto_inicio_principal}}</textarea>
                                </div>
                            </div>

                            <div class="text-center">
                                <input
                                    type="submit"
                                    value="Guardar principal"
                                    class="ref_boton_principal_transiciones btn boton-primario"
                                />
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>