
{{!-- Fracciones del inmueble, lado del cliente --}}

<div class="contenido container-fluid">
    <div class="row">
        {{#each array_fracciones}}
        {{> adm_cli_card_fraccion}}
        {{/each}}
    </div>
</div>