{{! proyectos del TERRENO lado del CLIENTE }}

{{! NOTESE QUE NO EXISTE NECESIDAD DE UN ORDENADOR O FILTRADOR, PORQUE SOLO SE ADMITEN MAXIMO HASTA 5 PROYECTOS POR TERRENO }}

{{!-- <div class="row mt-3 mx-1">
    <div class="col-12 px-0 mt-3 mb-2">
        <h5 class="cuadro_estandart p-2 text-center">
            PROYECTOS DISPONIBLES
        </h5>
    </div>
</div> --}}

<div class="row mt-3">
    {{#each contenido_terreno}}
    {{> adm_cli_card_proyecto}}
    {{/each}}
</div>
